:root {
    --bg-sidebar: #000101;
    --bg-header: #090a12;
    --bg-main: #141922;
    --bg-webapp-bottom: #282828;
    --bg-plus: #a2a3a2;
    --text-gray: #707071;
    --light: #fff;
    --active: #adfe2e;
}

/* #region Commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-gray);
    font-size: 14px;
    font-weight: 700;
}

img {
    max-width: 100%;
}

a {
    color: var(--text-gray);
    font-weight: 700;
    transition: 0.3s;
}

/* #endregion Commons */

/* #region Utilities */

/* .container{
    max-width: 1440px;
    margin: auto;
} */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.active {
    position: relative;
}

.circle {
    border-radius: 50%;
}

.vert-align {
    display: flex;
    align-items: center;
}

/* #endregion Utilities */

.webapp_top {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
}

/* #region Sidebar */

.sidebar {
    background-color: var(--bg-sidebar);
    height: 100%;
    width: 240px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 75%;
    margin-bottom: 1rem;
}

.logo_small {
    margin-bottom: 0.5rem;
    display: none;
}

.sidebar a {
    text-decoration: none;
    padding: 0.5rem 0;
}

.sidebar a span {
    padding-left: 5px;
}

.menu .icon {
    width: 25px;
}

.playlist {
    color: var(--light);
    font-weight: 600;
    margin-top: 1rem;
}

.plus {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.plus div {
    width: 30px;
    height: 30px;
    background-color: var(--bg-plus);
    display: inline-block;
    position: relative;
}

.plus i {
    color: var(--bg-sidebar);
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus span {
    font-size: 15px;
    padding-left: 5px;
}

ul {
    list-style: none;
}

li a {
    display: inline-block;
}

.download,
.profile {
    display: flex;
    align-items: center;
}

.download span,
.profile span {
    padding-left: 5px;
}

.download img {
    width: 15px;
}

.profile {
    padding-top: 1rem;
    border-top: 1px solid var(--text-gray);
}

.profile img {
    width: 25px;
    background-color: var(--text-gray);
    border-radius: 50%;
}

.profile span {
    color: var(--light);
    font-size: 15px;
}

.sidebar .active {
    color: var(--light);
}

.sidebar .active_bar {
    height: 30px;
    width: 0;
    border: 2px solid var(--active);
    border-radius: 50px;
    position: absolute;
    left: -1rem;
}

a:hover {
    color: var(--light);
}

a:hover div {
    background-color: var(--light);
}

/* #endregion Sidebar */

/* #region Main Content */

.main_content {
    width: 100%;
    margin-bottom: 100px;
}

/* Header */

header {
    height: 100px;
    background-color: var(--bg-header);
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .btn {
    background-color: var(--bg-header);
    color: var(--light);
    text-decoration: none;
    padding: 0.5rem 3rem;
    border: 1px solid var(--light);
    border-radius: 30px;
    display: inline-block;
    transition: 0s;
}

header .btn:hover {
    font-size: 15px;
}

/* /Header */

/* Main */

main {
    height: 100%;
    background-color: var(--bg-main);
    padding: 1rem;
    overflow-y: scroll;
}

main nav {
    padding-bottom: 1rem;
    text-align: center;
    line-height: 2rem;
}

main nav a {
    color: var(--text-gray);
    text-decoration: none;
    padding: 0 0.5rem;
}

main .row {
    margin: 0rem -0.5rem;
}

main .col-2 {
    padding: 0.5rem;
}

main h2 {
    color: var(--light);
    padding: 1rem 0;
}

.card {
    text-align: center;
}

.card h3 {
    color: var(--light);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.image {
    position: relative;
}

.card img {
    display: flex;
    flex-grow: 0;
    transition: 0.3s;
    ;
}

.card i {
    color: var(--light);
    font-size: 50px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:hover i {
    display: block;
}

.card:hover img {
    opacity: 60%;
}

main .active {
    display: inline-block;
}

main .active_bar {
    height: 0;
    width: 30px;
    border: 1px solid var(--active);
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* /Main */

/* #endregion Main Content */

/* #region Webapp Bottom */

.webapp_bottom {
    height: 100px;
    width: 100%;
    background-color: var(--bg-webapp-bottom);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_side,
.right_side {
    display: flex;
    align-items: center;
}

.webapp_bottom i {
    padding: 0 0.5rem;
    transition: 0.3s;
}

.webapp_bottom a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.webapp_bottom i:hover {
    color: var(--light);
    cursor: pointer;
}

/* Left Side */

.left_side img {
    width: 40px;
}

.album {
    padding-left: 1rem;
    padding-right: 2rem;
}

.album div:first-of-type {
    color: var(--light);
}

.album div:last-of-type {
    font-size: 12px;
}

/* /Left Side */

/* Center Side */

.center_side {
    color: var(--light);
}

.center_side .top {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    font-size: 25px;
    margin: 0 1.5rem;
    position: relative;
}

.play i {
    transition: 0s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play:hover {
    font-size: 30px;
}

.center_side .bottom {
    font-size: 12px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_bar,
.time_bar .on {
    height: 4px;
    border-radius: 50px;
}

.time_bar {
    width: 30rem;
    background-color: var(--text-gray);
    margin: 0 1rem;
}

.time_bar .on {
    width: 2.5rem;
    background-color: var(--light);
}

/* /Center Side */

/* Right Side */

.right_side {
    color: var(--light);
}

.volume_bar,
.volume_bar .on {
    height: 4px;
    border-radius: 50px;
}

.volume_bar {
    width: 6rem;
    background-color: var(--text-gray);
    margin-left: 0.5rem;
}

.volume_bar .on {
    width: 25px;
    background-color: var(--light);
}

/* /Right Side */

.time_bar .on,
.volume_bar .on {
    position: relative;
}

.time_bar .circle,
.volume_bar .circle {
    height: 10px;
    width: 10px;
    background-color: var(--light);
    display: none;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.time_bar:hover .circle,
.volume_bar:hover .circle {
    display: block;
}

.time_bar:hover .on,
.volume_bar:hover .on {
    background-color: var(--active);
}

/* #endregion Webapp Bottom */

/* #region Responsive */

@media screen and (max-width: 1440px) {
    .col-2 {
        width: calc(100% / 12 * 3);
    }
}

@media screen and (max-width: 1024px) {
    .col-2 {
        width: calc(100% / 12 * 4);
    }

    .time_bar {
        width: 15rem;
    }

    .time_bar .on {
        width: 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    .col-2 {
        width: calc(100% / 12 * 6);
    }

    .time_bar {
        width: 5rem;
    }

    .time_bar .on{
        width: 0.5rem;
    }

    .album {
        padding-left: 0.5rem;
        padding-right: 1rem;
    }

    .icons {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 552px) {
    .sidebar {
        width: 50px;
        padding: 0.5rem;
    }

    .sidebar a {
        text-align: center;
    }

    .sidebar a span,
    .playlist,
    ul,
    .plus,
    .profile span,
    .logo,
    .icons {
        display: none;
    }

    .logo_small {
        display: block;
    }

    .profile,
    .download {
        justify-content: center;
    }

    .profile {
        border: 0;
    }

    .right_side i:nth-child(1),
    .right_side i:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 444px) {
    header{
        height: 50px;
    }

    header .btn{
        padding: 0.5rem 2rem;
    }

    .main_content{
        margin-bottom: 50px;
        border: 0;
    }

    .volume_bar,
    .album{
        display: none;
    }
}

@media screen and (max-height: 700px) {
    header{
        display: none;
    }

    .main_content{
        height: 100%;
    }
}

/* #endregion Responsive */